body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif, 'Oswald';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#1b1b2b;
      background-image:url('./components/images/bg.jpg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      background-attachment: fixed;
      font-size: 100%;
      margin-top: auto;
      margin-left:  auto;
      margin-right:  auto;
      margin-bottom:  auto;
  }
  .home-menu
   {
      background-color: rgb(253, 253, 247);
      opacity: 0.8;
      
      position: relative;
      top: 0; 
      width: 100%; 
      text-align:center;
      align-content: center !important; 
     
     margin: 0;
  
     bottom: 30px;
  }
  
  .menu{
    position:relative;
    align-content: center !important;
  }
  
  .logosvg {
   
    font-family: 'Russo One', sans-serif;
    position: relative;
    top: 20px; 
    bottom: 50px;
    width: 100%; 
    align-content: center !important;
  }
  svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #000000;
    font-size: 500%;
  }
  @keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); }
    80%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); stroke-width: 3; }
    100% {
      fill: rgb(0, 0, 0); stroke: rgba(0, 0, 0, 0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }
  .title{
    color: rgb(6, 6, 6);
    font-size: 250%;
     } 
  
  .homeintro {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      width: 97%;
      padding: 20px;
      background-color: rgba(100, 98, 98, 0.288);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .hometxt{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
    padding: 30px;
    height: auto;
    text-align: justify;
  }
  .home-img{
   height:100%;
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
  }
  .about {
    display: flex;
    padding: 20px;
    
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  #aboutdiv{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
    padding: 30px;
    height: auto;
    text-align: justify;
  }
  
  .map-container {
    height: 80%;
    width: 80%;
    margin-left: 10%;
  }
  
  #sm-footer {
    position: static;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.711); 
    width: 100%; 
    height: 7vh; 
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem; 
    font-family: 'Roboto Slab', sans-serif; 
  }
  .foot-logo{
    position: inherit;
    width: auto;
    height: auto;
  }
  
  .foot, .foot:visited {
    color: white; 
    font-size: 60%; 
    text-decoration: none;
    padding: 10px; 
  }
  .App {
    text-align: center;
    height: 100vh;
    
  }
  
  
  .packageIntro {
    text-align: center;
    color: rgb(39, 39, 39);
    border-radius: 2%;
  }
  
  .PackageIntro>img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
  }
  
  
  .package {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    width: 100%;
  
    
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  #packagemenu{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
    padding: 30px;
    height: auto;
  }
  #packagemenu ul {
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 15px;
  }
  
  #packagemenu h2 {
    text-shadow: 0.5px 0.5px black;
  }
  
  #packagemenu ul:after {
    content: "";
    clear: both;
    display: block;
  }
  
  #packagemenu li {
    float: left;
    width: 80%;
    padding: 0;
    margin: 20px 0 20px 8%;
    border-bottom: 1px solid slategray;
  }
  
  .Rate {
    float: left;
    color: #000000;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-right: 15px;
  }
  
  .Price {
    float: right;
    color: #df0000;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    padding-left: 15px;
  }
  
  .Description {
    clear: both;
    display: block;
    color: #515151;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
    top: -8px;
  }
  
  
  .teacherImg {
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
    
  }
  
  .teacherImg>img {
    width: 100%;
    border-radius: 2%;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  
  .teacher {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 5px;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .contacthead {
  
    display: flex;
    flex-direction: column;
    padding-top: 10%;
      padding-bottom: 9%;
    width: 97%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(100, 98, 98, 0.288)
  }
  
  .contactmain {
  
    grid-gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(85, 108, 133) 0px 20px 30px -10px;
  }
  .contactdiv {
      
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .form-control {
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .form-control:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:rgb(9, 1, 1);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }
  
  .bookpromo {
    text-align: center;
    color: #eb1111;
    font-weight: bold;
    font-size: xx-large;
    font-family:Roboto;
    position: relative;
    background-color: transparent;
  
    
  }
  
  .bookinfo {
    text-align: center;
    color: #000000;
    
    font-size: large;
    font-family:Roboto;
    position: relative;
    background-color: transparent;
    
  }
  
  
  @media only screen and (max-width: 600px) {
    .homeintro {
      grid-template-columns: auto;
      width: 90%;
    }
    
    
    .package {
         grid-template-columns: auto;
        
    }   
    .teacher {
      width: 97%;
        grid-template-columns: auto;
        
  }

  .contactdiv {
  
    margin-left: 0%;
    margin-right: 0%;
  }
  .foot, .foot:visited {
    color: white; 
    font-size: 30%; 
    text-decoration: none;
    padding: 10px; 
  }
  
  }
  